.logo{
    height: 100px
}

.logo img {
    height: 100%;
    
}

.clients {
    height: 300px;
}
 
.clients__logo {
    margin-top: 30px;
    margin-left: 60px;
    height: 80px;
}

.clients__logo img {
    height: 70%;
}

.clients__logo label {
    margin-left: 10px;
    color: #05a7f1;
}

.clients_titles{
    margin-left: 60px;
}

.clients_titles h4{
    font-weight: 200;
}

.input-group{
    width: 50%;
}

.table{
    margin-top: 30px;
}

.table__buttons{
    display: flex;
    justify-content: center;
}

.table__buttons button{
    margin: 10px;
    width: 70px;

}

.table_input{
    display: flex;
    justify-content: center;
}

.table_clients h4{
    color: #05a7f1;
}

.img_edit{
    cursor: pointer;
}

.img_edit img{
    width: 25px;
    height: 25px;
}

.modal-content{
    background-color: #05a7f1;
}

.search{
    display: flex;
}

@media(min-width: 768px){
    .table th{
        padding: 0px;
    }
    .clients{
        height: 500px;
    }
    .clients__logo {
        margin-top: 30px;
        margin-left: 30px;
        height: 80px;
    }
    .clients__logo label {
        margin-left: 10px;
        color: #05a7f1;
    }
    
    .clients_titles{
        margin-left: 30px;
    }

    .clients_titles h4{
        font-weight: 200;
    }

    .input-group{
        width: 50%;
    }
    .table__buttons{
        justify-content: left;
    }
    .table__buttons button {
        margin-left: 10px;      
    }
    .table_input{
        justify-content: left;
        margin-left: 10px;
    }
    .table_clients{
        width: 100px;
        margin-left: 10px;
        margin-top: 20px;
    }
}