<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col logo">
                <img src="./../../../assets/img/logo.png" alt="">

            </div>

        </div>
    </div>
</header>
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3  clients">
                <div class="clients__logo">
                    <img src="./../../../assets/img/user.png" alt="">
                    <label ml-1>Clients</label>
                </div>
                <div class="clients_titles">
                    <h4>Clients</h4>
                    <h4>Client Look history</h4>
                    <h4>Emergency PIN configuration</h4>
                    <h4>Emergency PIN history</h4>
                </div>
            </div>
            <div class="col-sm-12 col-md-9 col-lg-9 table">
                <div class="table__buttons">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createUser">
                       New
                    </button>
                    <button class="btn btn-primary">
                        Export
                    </button>
                </div>
                <div class="table_input">
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                          <form class="search" [formGroup]="search">
                            <input id="sharedkey" formControlName="sharedkey" type="text" class="form-control" placeholder="Enter shared Key" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <button class="input-group-text" formControlName="sharedkey"id="sharedkey" (click)="sear()" >Search</button>
                          </form>
                        </div>
                    </div>
                </div>
                <div class="table_clients">
                    <h4>Clients</h4>
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Shared Key</th>
                            <th scope="col">Business ID</th>
                            <th scope="col">E-mail</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Data Added</th>
                            <th scope="col">Edit</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let i of items">
                            <th scope="row">{{i.sharedkey}}</th>
                            <td>{{i.businessid}}</td>
                            <td>{{i.email}}</td>
                            <td>{{i.phone}}</td>
                            <td>{{i.date}}</td>
                            <a class="img_edit" (click)="getValues(i.sharedKey,i.businessID,i.email,i.phone,i.date)">
                              <img  src="./../../../assets/img/edit.png" alt="">
                            </a>
                          </tr>
                        </tbody>
                      </table>
                </div>

            </div>
        </div>
    </div>

</main>


<div class="modal fade" id="createUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="loginForm">
            <div class="row mb-3">
                <label for="businessid" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" formControlName="businessid" class="form-control" id="businessid">
                </div>
            </div>
            <div class="row mb-3">
                <label for="phone" class="col-sm-2 col-form-label">Phone</label>
                <div class="col-sm-10">
                    <input type="number" formControlName="phone" class="form-control" id="phone">
                </div>
            </div>
            <div class="row mb-3">
              <label for="email" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-10">
                  <input type="email" formControlName="email" class="form-control" id="email" required>
              </div>
            </div>
            <div class="row mb-3">
              <label for="date" class="col-sm-2 col-form-label">Start date</label>
              <div class="col-sm-10">
                  <input type="date" formControlName="date" class="form-control" id="date" required>
              </div>
            </div>

            <div class="row mb-3">
              <label for="end" class="col-sm-2 col-form-label">End date</label>
              <div class="col-sm-10">
                  <input type="date" formControlName="end" class="form-control" id="end" required>
              </div>
            </div>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="readValues()">Save changes</button>
        </div>
      </div>
    </div>
  </div>

